@import 'styles/variables';

.list__base {
  width: max-content;
  padding: 10px;
  margin-left: 15px;
}

.list__activeDiamondIndicator {
  &::after {
    content: '';
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 12px solid #cfcfcf;
    border-bottom-color: #cfcfcf;
    position: absolute;
    top: 0px;
    left: -18px;
  }

  &::before {
    content: '';
    position: absolute;
    left: -18px;
    top: 19px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 12px solid #cfcfcf;
    border-top-color: #cfcfcf;
  }
}

.list__friends {
  @extend .list__base;
  border-left: 0.5px solid map-get($border-colors, default);

  &__Item-active {
    pointer-events: none;

    p {
      font-weight: bold;
    }

    li {
      position: relative;
      @extend .list__activeDiamondIndicator;
    }
  }
}

.list__comments {
  &-poem {
    padding: 10px;
    background-color: #f4f8fd;
    border-radius: 0 0 10px 10px;
  }
}
